/* Main container for the chart and controls */
.chart-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Chart container */
.chart-container {
    position: relative;
    width: 100%;
    height: 80vh; /* Adjust as needed */
    margin-bottom: 20px; /* Add bottom margin to separate the chart from the controls */
}

/* Controls below the chart */
.chart-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add margin to separate from the next section */
}

/* Stock selector form */
.stock-selector-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-bottom: 10px; /* Add bottom margin */
}

    .stock-selector-form label {
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-top: 5px;
    }

    .stock-selector-form input[type="text"],
    .stock-selector-form input[type="date"] {
        margin-left: 5px;
        padding: 5px;
        font-size: 14px;
    }

    .stock-selector-form button {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 14px;
        margin-top: 5px;
    }

/* Chart buttons */
.chart-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add bottom margin */
}

    .chart-buttons button {
        margin-right: 10px;
        padding: 5px 10px;
        font-size: 14px;
    }

/* Technical indicators checkboxes */
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; /* Add bottom margin */
}

.checkbox-label {
    margin: 0 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add bottom margin for small screens */
}

    .checkbox-label input[type="checkbox"] {
        margin-right: 5px;
    }

/* Drawing controls */
.drawing-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; /* Add bottom margin */
}

    .drawing-controls > div {
        margin: 5px 10px;
    }

    .drawing-controls button {
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
    }

.active {
    background-color: #ccc;
}
